* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: local(AlegreyaSansSC-Bold), url("../../assets/font/AlegreyaSansSC-Bold.ttf");
}
.container .lineup {
  color: #FFF;
  align-content: center;
  aspect-ratio: 0.925926/1;
  background: linear-gradient(to bottom, #21295c, #1c7293);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  padding: 1.5rem;
}

.lineup h1 {
  text-align: center;
}

.lineup h2 {
  text-align: center;
}

.lineup h3 {
  text-align: center;
}

.lineup h4 {
  text-align: center;
}

.lineup h5 {
  text-align: center;
}

.lineup h6 {
  text-align: center;
}

.lineup h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.lineup .title .festival_name {
  font-family: "Passion One", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.lineup .title h2 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
}

.lineup .title .dates {
  color: #9eb3c2;
}

.lineup .day h2 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  font-size: 1.125rem;
  color: #9eb3c2;
}

.lineup .day .headliner {
  font-family: "Passion One", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.lineup .day ul,
.lineup .stage_hosts .hosts {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lineup .day ul li,
.lineup .stage_hosts li {
  display: inline-block;
  padding: 0;
  margin: 0 0.5rem;
}

.lineup .day .support {
  font-family: "Signika", sans-serif;
}

.lineup .day .direct {
  font-family: "Passion One", sans-serif;
  font-size: 2rem;
}

.lineup .day .mid {
  font-size: 1.125rem;
}

.lineup .stage_hosts {
  margin-top: 3rem;
}

.lineup .stage_hosts h2 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #9eb3c2;
}

.lineup .stage_hosts .hosts li {
  font-family: "Signika", sans-serif;
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
